#search .truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  /* background: -webkit-linear-gradient(left, #000 , #f7f7f7); */
  /* background: -o-linear-gradient(right, #000, #f7f7f7); */
  /* background: -moz-linear-gradient(right, #000, #f7f7f7); */
  /* background: linear-gradient(to right, #000 , #f7f7f7);  */
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */ }

#search #search-header {
  background: #FFF;
  padding-bottom: 20px; }

#search #search-header #searcher {
  font-size: 24px; }

#search #search-header .form-control {
  font-size: 24px; }

#search #add-table th, #search #add-table tr, #search #add-table td {
  border: 0 !important; }

#search #search-table .col-0, #search #search-table .col-1, #search #search-table .col-2 {
  width: 30px !important; }

#search #search-table .col-0 {
  text-align: right; }

#search #search-table .col-1 {
  text-align: center; }

#search #search-table .col-3 {
  width: 500px !important; }

#search #search-table .col-4 {
  width: 500px !important; }

#search #search-table td a {
  color: #00796B; }
