#search {
    #search-header {
	background: #f7f7f7;
	padding:20px;
	margin-bottom: 20px;

	#searcher {
	    font-size:24px;
	}

	.form-control {
	    font-size:24px;
	}
    }

    #add-table {
	th, tr, td {
	    border:0!important;
	}
    }

    #search-table {
	a {
	    color: #00796B;
	}
    }
}
