#search {
    .truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;

	/* background: -webkit-linear-gradient(left, #000 , #f7f7f7); */
	/* background: -o-linear-gradient(right, #000, #f7f7f7); */
	/* background: -moz-linear-gradient(right, #000, #f7f7f7); */
	/* background: linear-gradient(to right, #000 , #f7f7f7);  */
	/* -webkit-background-clip: text; */
	/* -webkit-text-fill-color: transparent; */
    }

    #search-header {
	padding-bottom: 20px;

	#searcher {
	    font-size:24px;
	}

	.form-control {
	    font-size:24px;
	}
    }

    #add-table {
	th, tr, td {
	    border:0!important;
	}
    }

    #search-table {
	.col-0, .col-1, .col-2 {
	    width: 30px!important;
	}

	.col-0 {
	    text-align: right;
	}

	.col-1 {
	    text-align: center;
	}

	.col-3 {
	    width: 500px!important;
	}

	.col-4 {
	    width: 500px!important;
	}

	td {
	    a {
		color: #00796B;
	    }
	}
    }
}
